@font-face {
    font-family: NeoTech;
    src: url('../fonts/NeoTech Medium.otf');
    font-weight: normal;
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body, html, main {
    margin: 0;
    padding: 0;
}


label {
    color: white;
    font-weight: bold;
}

nav, a, button {
    min-width: 48px;
    min-height: 48px;
}

header, nav, footer, section, article, div {
    box-sizing: border-box;
}

.container {

    margin: 5px auto;
    background-image: url(../img/unser-water.jpg);
    background-size: contain;
    max-width: 1100px;
    border: 16px solid #0076BC;
    border-radius: 40px;
    height: 450px;
}


#sub-background {
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
    width: 100%;
    background: rgba(14, 22, 68, 0.6);
    margin: auto;
    border-radius: 20px;
    border: 4px solid white;
    padding: 10px 0;
    height: 100%;
}

.separator {
    color: white;
    font-weight: bold;
    padding: 3px;
    margin: 2px 0;
}

.first-row {
    height: 60px;
}

.wide-column {
    width: 20%;
}

.narrow-column {
    width: 10%;
}

.second-row {
    height: 60px;
}

.third-row {
    height: 50px;
}

.fourth-row {
    height: 50px;
}

.fifth-row {
    height: 5px;
}

.sixth-row {
    height: 45px;
}

.seventh-row {
    height: 45px;
}

.eighth-row {
    height: 45px;
}

#two-one {
    border-top: 12px solid black;
    border-right: 12px solid black;
}

#three-one {
    border-right: 12px solid black;
}

#four-one {
    border-right: 12px solid black;
    padding: 0 10px;
}

#four-two {
    border-bottom: 12px solid black;
    border-right: 12px solid black;
}

#three-two {
    border-right: 12px solid black;
}

#two-two {
    border-right: 12px solid black;
}

#two-three {
    border-top: 12px solid black;
    border-right: 12px solid black;
}

#three-three {
    border-right: 12px solid black;
    padding: 0 10px;
}

#three-four {
    border-bottom: 12px solid black;
    border-right: 12px solid black;
}

#two-four {
    border-right: 12px solid black;
}

#two-five {
    border-top: 12px solid black;
    border-right: 12px solid black;
    padding: 0 10px;
}

#two-six {
    border-bottom: 12px solid black;
    border-right: 12px solid black;
}

#two-seven {
    border-top: 12px solid black;
}

#one-one, #four-one, #three-three, #two-five {
    position: relative;
}

#first-meters, #second-meters, #third-meters, #start-time {
    padding: 10px;
    text-align: center;
    margin: auto 10px 0 0;
    font-size: 15px;
    position: absolute;
    width: calc(100% - 20px);
    bottom: 0;
}

#start-time {
    width: calc(100% - 24px);
    margin: auto 10px 10px 10px;
    height: 42px;
}

#one-three, #one-five, #one-seven {
    position: relative;
}

.top-inputs {
    font-size: 20px;
    position: absolute;
    bottom: 0;
    margin: auto;
    padding-bottom: 2px;
    display: flex;
    flex-wrap: wrap;
}

.rnt {
    background: #4fc8dd;
}

.tbt {
    background: #0076BC;
}

#five-one, #four-three, #five-four,
#three-five, #four-six, #five-seven,
#six-one {
    border-right: 1px solid whitesmoke;
}

#five-two, #four-four, #five-five,
#three-six, #four-seven, #five-eight,
#six-two {
    border-left: 1px solid whitesmoke;
}

.very-narrow {
    width: 5%;
}

#seven-six, #seven-two {
    border-left: 1px solid whitesmoke;
}

.very-wide {
    width: 25%;
}

#seven-one, #seven-five {
    border-right: 1px solid whitesmoke;
}

#esa-logo {
    width: 250px;
    display: inline-block;
    margin: 10px;
}

header {
    width: 100%;
    padding: 6px 18px 10px 10px;
    border: 3px solid #0076BC;
    border-radius: 20px;
    height: 130px;
}

footer {
    width: 100%;
    height: 70px;
    border: 2px solid #0076BC;
    border-radius: 20px;

}

#footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

h3 {
    font-size: 14px;
    display: inline;
    margin: auto auto auto 10px;
}

#footer-one {
    width: 70%;
    display: inline-block;
    float: left;
    height: 100%;
    margin: 0 auto;
    padding: 0;

}

#footer-two {
    width: 25%;
    display: inline-block;
    text-align: left;
    border: 2px solid #0076BC;
    padding: 10px;
    border-radius: 10px;
    margin: 12px 10px 10px 10px;


}

.footer-details {
    font-size: 12px;
}

ul {
    display: inline-block;

}

li {
    display: inline-block;
    font-size: 11px;
}

p {
    display: inline-block;
    margin: 0 auto ;
    width: 100%;
    text-align: center;
}

#warning {
    margin: auto auto auto 95px;
    text-align: left;
}

a {
    color: #0076BC;
    font-family: Arial;
    font-size: 16px;
}

#header-container {
    right: 0;
    position: relative;
    float: right;
    margin: auto;
}

h1 {
    color: #0076BC;
    font-family: NeoTech;
    font-weight: bold;
    font-style: italic;
    font-size: 55px;
    text-shadow: grey 1px 0 5px;
}

#six-one, #seven-one, #eight-one {
    width: 10%;
    border-right: 1px solid whitesmoke;
}

#six-two, #six-six, #six-ten,
#seven-two, #seven-six, #seven-ten,
#eight-two, #eight-six, #eight-ten {
    width: calc(5% - 12px);
    border-left: 1px solid whitesmoke;
}

#eight-two, #eight-six, #eight-ten {
    border-bottom: 2px solid whitesmoke;
}

#six-three, #six-seven, #six-eleven,
#seven-three, #seven-seven, #seven-eleven,
#eight-three, #eight-seven, #eight-eleven {
    width: 5%;
    position: relative;
}

#six-four, #six-eight, #six-twelve,
#seven-four, #seven-eight, #seven-twelve,
#eight-four, #eight-eight, #eight-twelve {
    width: calc(10% + 12px);
}

#six-five, #six-nine,
#seven-five, #seven-nine,
#eight-five, #eight-nine {
    width: 10%;
    border-right: 1px solid whitesmoke;   
}

#six-thirteen, #seven-thirteen, #eight-thirteen {
    width: 10%;
}

.exact-fill {
    width: 100%;
    padding: 10px;
    text-align: center;
    margin: 5px 10px 0 0;
    font-size: 15px;
    bottom: 0;
}

.result-label {
    padding: 10px 10px 0 0;
    width: 100%;
    height: 40px;
    text-align: right;
    position: absolute;
    bottom: 0;
}

.last-row {
    height: 70px;
    width: 100%;
}

.letter, .hour {
    display: inline-block;
    height: 42px;
    padding: 10px 1px;
    text-align: center;
    font-size: 15px;
    width: 20%;
}

.letter {
    border-radius: 10px;
    background: #0076BC;
    font-family: NeoTech;
    font-size: 32px;
    color: white;
    text-transform: capitalize;
    padding: 6px 0 0 0;
    height: 50px;
    margin: 4px;
}

#fifth-letter {
    width: 40%;
    margin-bottom: 2px;
}

.read-only {
    border-radius: 10px;
    font-weight: bold;
    font-size: 23px;
    color: black;
}

.indications {
    width: 45px;
    height: 18px;
    border-radius: 6px;
    display: inline-block;
    margin: 0 2px 0 10px;
}

#indication-one {
    background: white;
    border: 1px solid black;
}

#indication-two {
    background: #4fc8dd;
}

#indication-three {
    background: #0076BC;
}


@media screen and (max-width: 1035px) {
    #footer-one {
        width: 75%;
    }

    #footer-two {
        width: 220px;
    }

    li, #warning {
        font-size: 11px;
    }
}


@media screen and (max-width: 980px) {
    li {
        display: block;
    }

    #footer-one {
        width: 70%;
    }

    footer {
        height: 125px;
    }

    #footer-two {
        margin-top: 40px;
    }

    #warning {
        width: 80%;
    }
}


@media screen and (max-width: 880px) {

    #first-hour, #second-hour {
        width: 30%;
        order: 1;
        margin: 2px 2px 2px 12%;
    }

    .separator {
        order: 2;
    }

    #first-letter, #third-letter {
        width: 30%;
        order: 4;
        margin: 2px;
    }

    #fifth-letter {
        width: 60%;
        margin: 2px;
    }

    #second-letter, #fourth-letter {
        width: 30%;
        order: 5;
        margin: 2px 2px 2px 30%;
    }

    h1 {
        font-size: 45px;
        margin-top: 38px;
    }

    #first-minute, #second-minute {
        width: 30%;
        order: 3;
        margin: 2px;
    }

    #one-one, #one-three, #one-five, #one-seven {
        height: 100px;
    }

    #start-time {
        margin-bottom: 33px;
    }

    .container {
        height: 485px;
    }
}


@media screen and (max-width: 825px) {
    #footer-one, #warning {
        width: 67%;
    }

    #footer-two {
        right: 10px;
        width: 30%;
    }

    .exact-fill {
        margin-left: 5px;
    }
}


@media screen and (max-width: 700px) {
    #footer-one, #warning {
        width: 90%;
    }

    footer {
        height: 170px;
    }

    #footer-two {
        margin: 4px 10%;
        width: 80%;
    }

    .exact-fill {
        margin-left: 8px;
    }

    #esa-logo {
        width: 200px;
    }

    h1 {
        font-size: 35px;
    }

    header {
        height: 110px;
    }

    #start-time, #first-meters,
    #second-meters, #third-meters, .hour,
      .result-label {
        font-size: 13px;
    }

    #first-hour, #second-hour {
        width: 35%;
        margin: 2px 1px 2px 5%;
    }

    #first-letter, #third-letter {
        width: 35%;
        margin: 2px 1px;
    }

    #second-letter, #fourth-letter {
        width: 35%;
        margin: 2px 1px 2px 18%;
    }

    #first-minute, #second-minute {
        width: 35%;
        margin: 2px 1px;
    }

    #fifth-letter {
        width: 70%;
    }
}
