<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>ESA Dive Table</title>
    <link rel="stylesheet" href="../static/css/style.css">

    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="static/js/main.js"></script>


</head>
<body>
    <header>
        <img id="esa-logo" src="../static/img/ESA-logo.png" alt="ESA Logo">
        <div id="header-container">
            <h1>ESA Dive Table</h1>
        </div>
    </header>
    
    <div class="container">
        <div id="sub-background">
                    <!-- first row -->
        
            <div id="one-one" class="first-row wide-column">
                <input id="start-time" tabindex="1" type="time" placeholder="Start Time">
            </div>
    
            <div id="one-two" class="first-row narrow-column">
    
            </div>
    
            <div id="one-three" class="first-row wide-column">
                <div class="top-inputs">
                    <input id="first-letter" class="letter" type="text" tabindex="4" disabled value="A">
                    <input id="first-hour" class="hour" type="number" max="23" min="0" tabindex="5">
                    <div class="separator">:</div>
                    <input id="first-minute" class="hour" type="number" max="59" min="0" tabindex="6">
                    <input id="second-letter" class="letter" type="text" tabindex="7" disabled value="C">
                </div>
            </div>
    
            <div id="one-four" class="first-row narrow-column">
    
            </div>
    
            <div id="one-five" class="first-row wide-column">
                <div class="top-inputs">
                    <input id="third-letter" class="letter" type="text" tabindex="12" disabled value="A">
                    <input id="second-hour" class="hour" type="number" max="23" min="0" tabindex="13">
                    <div class="separator">:</div>
                    <input id="second-minute" class="hour" type="number" max="59" min="0" tabindex="14">
                    <input id="fourth-letter" class="letter" type="text" tabindex="15" disabled value="C">
                </div>
            </div>
    
            <div id="one-six" class="first-row narrow-column">
    
            </div>
    
            <div id="one-seven" class="first-row narrow-column">
                <div class="top-inputs">
                    <input id="fifth-letter" class="letter" type="text" tabindex="20" disabled value="A">
                </div>
            </div>
    
            <!-- second row -->
            <div id="two-one" class="second-row wide-column">
    
            </div>
    
            <div id="two-two" class="second-row narrow-column">
                
            </div>
    
            <div id="two-three" class="second-row wide-column">
    
            </div>
    
            <div id="two-four" class="second-row narrow-column">
    
            </div>
    
            <div id="two-five" class="second-row wide-column">
                <input id="third-meters" type="number" placeholder="Meters" tabindex="16">
            </div>
    
            <div id="two-six" class="second-row narrow-column">
    
            </div>
    
            <div id="two-seven" class="second-row narrow-column">
                
            </div>
    
            <!-- third row -->
            <div id="three-one" class="third-row wide-column">
    
            </div>
    
            <div id="three-two" class="third-row narrow-column">
    
            </div>
    
            <div id="three-three" class="third-row wide-column">
                <input id="second-meters" type="number" placeholder="Meters" tabindex="8">
            </div>
    
            <div id="three-four" class="third-row narrow-column">
    
            </div>
    
            <div id="three-five" class="third-row narrow-column">
    
            </div>
    
            <div id="three-six" class="third-row narrow-column">
    
            </div>
    
            <div id="three-seven" class="third-row narrow-column">
                
            </div>
    
            <div id="three-eight" class="third-row narrow-column">
                
            </div>
    
            <!-- fourth row -->
            <div id="four-one" class="fourth-row wide-column">
                <input id="first-meters" type="number" tabindex="2" placeholder="Meters">
            </div>
    
            <div id="four-two" class="fourth-row narrow-column">
    
            </div>
    
            <div id="four-three" class="fourth-row narrow-column">
    
            </div>
    
            <div id="four-four" class="fourth-row narrow-column">
    
            </div>
    
            <div id="four-five" class="fourth-row narrow-column">
    
            </div>
    
            <div id="four-six" class="fourth-row narrow-column">
    
            </div>
    
            <div id="four-seven" class="fourth-row narrow-column">
                
            </div>
    
            <div id="four-eight" class="fourth-row narrow-column">
                
            </div>
    
            <div id="four-nine" class="fourth-row narrow-column">
                
            </div>
    
            <!-- fifth row -->
            <div id="five-one" class="fifth-row narrow-column">
    
            </div>
    
            <div id="five-two" class="fifth-row narrow-column">
                
            </div>
    
            <div id="five-three" class="fifth-row narrow-column">
    
            </div>
    
            <div id="five-four" class="fifth-row narrow-column">
    
            </div>
    
            <div id="five-five" class="fifth-row narrow-column">
    
            </div>
    
            <div id="five-six" class="fifth-row narrow-column">
    
            </div>
    
            <div id="five-seven" class="fifth-row narrow-column">
                
            </div>
    
            <div id="five-eight" class="fifth-row narrow-column">
                
            </div>
    
            <div id="five-nine" class="fifth-row narrow-column">
                
            </div>
    
            <div id="five-ten" class="fifth-row narrow-column">
                
            </div>
    
            <!-- sixth row -->
            <div id="six-one">
    
            </div>
        
            <div id="six-two">
                
            </div>
        
            <div id="six-three">
                
            </div>
        
            <div id="six-four">
                
            </div>
        
            <div id="six-five">
        
            </div>
        
            <div id="six-six">
        
            </div>
        
            <div id="six-seven">
                <label for="second-abt" class="result-label">ABT</label>
            </div>
    
            <div id="six-eight">
                <input id="second-abt" type="number" class="exact-fill abt" tabindex="9">
            </div>
    
            <div id="six-nine">
                
            </div>
    
            <div id="six-ten">
                
            </div>
    
            <div id="six-eleven">
                <label for="third-abt" class="result-label">ABT</label>
            </div>
    
            <div id="six-twelve">
                <input id="third-abt" type="number" class="exact-fill abt" tabindex="17">
            </div>
    
            <div id="six-thirteen">
    
            </div>
    
            <!-- seven row -->
        <div id="seven-one">
    
            </div>
        
            <div id="seven-two">
                
            </div>
        
            <div id="seven-three">
                
            </div>
        
            <div id="seven-four">
                
            </div>
        
            <div id="seven-five">
        
            </div>
        
            <div id="seven-six">
        
            </div>
        
            <div id="seven-seven">
                <label for="first-rnt" class="result-label">RNT</label>
            </div>
    
            <div id="seven-eight">
                <input id="first-rnt" type="text" class="exact-fill read-only rnt" tabindex="10" disabled value="00">
            </div>
    
            <div id="seven-nine">
                
            </div>
    
            <div id="seven-ten">
                
            </div>
    
            <div id="seven-eleven">
                <label for="second-rnt" class="result-label">RNT</label>
            </div>
    
            <div id="seven-twelve">
                <input id="second-rnt" type="text" class="exact-fill read-only rnt" tabindex="18" disabled value="00">
            </div>
    
            <div id="seven-thirteen">
    
            </div>
    
            <!-- eighth row -->
            <div id="eight-one">
    
            </div>
        
            <div id="eight-two">
                
            </div>
        
            <div id="eight-three">
                <label for="first-abt" class="result-label">ABT</label>
            </div>
        
            <div id="eight-four">
                <input id="first-abt" type="number" tabindex="3" class="exact-fill abt">
            </div>
        
            <div id="eight-five">
        
            </div>
        
            <div id="eight-six">
        
            </div>
        
            <div id="eight-seven">
                <label for="first-tbt" class="result-label">TBT</label>
            </div>
    
            <div id="eight-eight">
                <input id="first-tbt" type="text" class="exact-fill read-only tbt" tabindex="11" disabled value="00">
            </div>
    
            <div id="eight-nine">
                
            </div>
    
            <div id="eight-ten">
                
            </div>
    
            <div id="eight-eleven">
                <label for="second-tbt" class="result-label">TBT</label>
            </div>
    
            <div id="eight-twelve">
                <input id="second-tbt" type="text" class="exact-fill read-only tbt" tabindex="19" disabled value="00">
            </div>
    
            <div id="eight-thirteen">
    
            </div>
            
            <!-- last row-->
            <div class="last-row"></div>
        </div>
    </div>

    <footer>
        <div id="footer-container">
            <div class="footer-details">
                <div id="footer-one">
                    <h3>Note</h3>
                    <ul>
                        <li><div id="indication-one" class="read-only indications"></div><strong>ABT=</strong> Actual Bottom Time</li>
                        <li><div id="indication-two" class="read-only indications"></div><strong>RNT=</strong> Residual Nitrogen Time in minutes</li>
                        <li><div id="indication-three" class="read-only indications"></div><strong>TBT=</strong> Total Bottom Time</li>
                    </ul>
                    <p id="warning"><strong>Warning:</strong> This online table must be used by certified divers or under the direct control of ESA certified scuba instructor.</p>
                </div>
                <div id="footer-two">
                    <p id="me">Developed by:
                        <a href="mailto:walidpiano@yahoo.com">Walid Zakaria</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
